body
{
   width: 800px;
   margin: auto;
   margin-bottom: 20px;    
   background-image: url("fond.png");
}

/* La banni�re */

#banniere
{
   width: 800px;
   height: 158px;
   background-image: url("banniere5.png");
   background-repeat: no-repeat;
}

/* La ligne de connexion */

#connexion
{
}

/* Le menu */

#menu
{
   float: left;
   width: 140px;
}

.element_menu
{
  /* background-color: #626262; */
   background-image: url("o.png");
   background-repeat: repeat-x;
   
   border: 2px solid black;
   
   
}


/* Quelques effets sur les menus */


.element_menu h3
{    
   color: #B3B3B3;
   font-family: Arial, "Arial Black", "Times New Roman", Times, serif;
   text-align: center;
}

.element_menu ul
{
   list-style-image: url("images/puce.png");
   padding: 0px;
   padding-left: 20px;
   margin: 0px;
   margin-bottom: 5px;
}

.element_menu a
{
   color: #B3B3B3;
}

.element_menu a:hover
{
   background-color: #B3B3B3;
   color: black;
}


/* Le corps de la page */

#corps
{
   margin-left: 140px;
   margin-bottom: 20px;
   padding: 5px;
   
   color: #B3B3B3;
   background-color: #626262;
   background-image: url("o.png");
   background-repeat: repeat-x;
   
   border: 2px solid black;
}

#corps h1
{
   color: #B3B3B3;
   text-align: center;
   font-family: Arial, "Arial Black", "Times New Roman", Times, serif;
}

#corps h2
{
   height: 30px;

   background-image: url("o.png");
   background-repeat: no-repeat;
   
   padding-left: 30px;
   color: #B3B3B3;
   text-align: left;
}

/* Les news */

#news
{
   margin-left: 140px;
   margin-bottom: 20px;
   padding: 5px;
   
   color: #B3B3B3;
   background-color: #626262;
   background-image: url("o.png");
   background-repeat: repeat-x;
   
   border: 2px solid black;
}

#news h1
{
   color: #B3B3B3;
   text-align: center;
   font-family: Arial, "Arial Black", "Times New Roman", Times, serif;
}

#news h2
{
   height: 30px;

   background-image: url("o.png");
   background-repeat: no-repeat;
   
   padding-left: 30px;
   color: #B3B3B3;
   text-align: left;
}
/* Le pied de page (qui se trouve tout en bas, en g�n�ral pour les copyrights) */

#pied_de_page
{
   padding: 5px;
   clear: both;

   text-align: center;

   color: #B3B3B3;
   background-color: #626262;
   background-image: url("o.png");
   background-repeat: repeat-x;
   
   border: 2px solid black;
}
