.idea
shell/ia_shell.sh
doc
/.phpunit.result.cache
.c9
.codetasty
.diff_to_apply
#created for dev environement without memecached
web/includes/class.Memcached.php
web/www/avatars
web/www/images
cache
shell/livraison.log
