@charset "iso-8859-1";
/* AUTEUR: SMESO */
/* DATE DE CREATION: 09/06/99 */


body
{
	font-family:verdana,helvetica,sans-serif;
	font-size:9pt;
	text-align:left;
	padding-right:2pt;
	padding-left:2pt;
	margin:0;
	padding:12px;
}
li{
	font-family:verdana,helvetica,sans-serif;
	font-size:9pt;
	text-align:left;
	padding-right:2pt;
	padding-left:2pt;
}
.cible	{
	position: absolute;
	visibility: hidden;
	z-index: 4;
}
input.test {
	background-color : #CE6300;
	color : #FFE081;
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-color : #CE3100 #9C0000 #9C0000 #CE3100;
	background : url(../images/bouton.jpg);
}
.bouton
{
	background-color:#B69353;
}
a.bouton
{
	background-color:#B69353;
}
input.bouton {
	color : #FFFFFF;
	font-size: 9px;
	font-family: Verdana, Helvetica, sans-serif;
	border-color : #B5955A #9F7F47 #9F7F47 #B5955A;
	background : url(../images/bouton.gif);
	border-width: 2px;
	padding-right:0pt;
	padding-left:0pt;
	margin-left:0pt;
	margin-right:0pt;
	text-indent:0pt;
}

table {
	background : url('../images/fondparchemin.gif');
}
.fond2 {
	background : url('../images/fondparchemin.gif');
	background-color:#FFFFFF;
}
table.vide {
	background : url('http://images.jdr-delain.net/mp_fondcarte.gif');
	background-color:#FFFFFF;
}
table.vide2 {
	background : url(none);
}

table.resume {
    background : url('../images/fondparchemin2.gif');
	background-color:#FFFFFF;
}

a:link{
	font-family:verdana,helvetica,sans-serif;
	font-size:9pt;
	text-align:left;
	text-decoration : underline;
	color:#4D0505;
}
a:visited{
	font-family:verdana,helvetica,sans-serif;
	font-size:9pt;
	text-align:left;
	text-decoration : underline;
	color:#800000;
}
a:hover{
	font-family:verdana,helvetica,sans-serif;
	font-size:9pt;
	text-align:left;
	text-decoration: none;
	color:#B60000;
}

a.mail:link{
	font-family:verdana,helvetica,sans-serif;
	font-size:9pt;
	text-align:right;
	text-decoration : underline;
	font-weight:bold;
}
a.mail:visited{
	font-family:verdana,helvetica,sans-serif;
	font-size:9pt;
	text-align:right;
	text-decoration : underline;
	font-weight:bold;
}
a.mail:hover{
	font-family:verdana,helvetica,sans-serif;
	font-size:9pt;
	text-align:right;
	color:#8D00F0;
	font-weight:bold;
}
a.titre:link{
	color:#FFFFFF;
	font-size:10pt;
	text-align:center;
	font-weight:bold;
	padding-right:10px;
	padding-left:10px;
	background-color:#800000;
}
a.titre:link{
	color:#FFFFFF;
	font-size:10pt;
	text-align:center;
	font-weight:bold;
	padding-right:10px;
	padding-left:10px;
	background-color:#800000;
}
a.titre:visited{
	color:#FFFFFF;
	font-size:10pt;
	text-align:center;
	font-weight:bold;
	padding-right:10px;
	padding-left:10px;
	background-color:#800000;
}

p{
	font-family:verdana,helvetica,sans-serif;
	font-size:9pt;
	text-align:left;
	padding-right:2pt;
	padding-left:2pt;
}
.image{
	text-align:center;
	padding-left:0pt;
	padding-right:0pt;
	padding-top:0pt;
	padding-bottom:0pt;
}
.coord{
	font-family:verdana,helvetica,sans-serif;
	font-size:5pt;
	text-align:center;
	padding-right:0pt;
	padding-top:0pt;
	padding-bottom:0pt;
	padding-left:0pt;
	background-color:#BA9C6C;
}
.coord2{
	font-family:verdana,helvetica,sans-serif;
	font-size:5pt;
	text-align:center;
	padding-right:0pt;
	padding-top:0pt;
	padding-bottom:0pt;
	padding-left:0pt;
	background-color:#BA9C6C;
}
input {
	border: black 1px solid;
	font-size: 11px;
	color: black;
	font-family: verdana,helvetica,sans-serif;
	background-color: #EBE8E3;
}
input.vide {
	border-style: none;
	border: none;
	font-size: 11px;
	color: black;
	background : url('http://images.jdr-delain.net/fondparchemin.gif');
}
textarea {
	border: black 1px solid;
	font-size: 11px;
	color: black;
	font-family: verdana,helvetica,sans-serif;
	background-color: #EBE8E3;
}
select {
	border: black 1px solid;
	font-size: 11px;
	color: black;
	font-family: verdana,helvetica,sans-serif;
	background-color: #EBE8E3;
}
.titre{
	color:#FFFFFF;
	font-size:10pt;
	text-align:center;
	font-weight:bold;
	padding-right:10px;
	padding-left:10px;
	background-color:#800000;
}

.divtitre{
	background-color: rgb(128, 0, 0);
	color: white;
	font-weight: bold;
	text-align: center;
	padding: 3px 0pt;
}

.soustitre{
	color:#FFFFFF;
	font-size:9pt;
	text-align:center;
	font-weight:bold;
	padding-right:5px;
	padding-left:5px;
	background-color:#660033;
}

p.mail{
	font-family:verdana,helvetica,sans-serif;
	font-size:9pt;
	text-align:justify;
	font-weight:bold;
}

p.droite{
	font-family:verdana,helvetica,sans-serif;
	font-size:9pt;
	text-align:right;
	font-weight:bold;
}
td{
	font-family:verdana,helvetica,sans-serif;
	font-size:9pt;
	text-align:left;
}
td.titre{
	padding-right:10px;
	padding-left:10px;
	background-color:#800000;
}

td.soustitre2{
	padding-right:2px;
	padding-left:2px;
	background-color:#BA9C6C;
}
.soustitre2{
	padding-right:2px;
	padding-left:2px;
	background-color:#BA9C6C;
}
.soustitre2_rouge{
	padding-right:2px;
	padding-left:2px;
	background-color:red;
}
.soustitre2_orange{
	padding-right:2px;
	padding-left:2px;
	background-color:orange;
}
.soustitre2_vert{
	padding-right:2px;
	padding-left:2px;
	background-color:green;
}
.surcharge1{
	padding-right:2px;
	padding-left:2px;
	background-color:#FFD905;
}
.surcharge2{
	padding-right:2px;
	padding-left:2px;
	background-color:#F67004;
}
.obstruction1{
	color: #048;
}
.obstruction2{
	color: #c00;
	background: url('http://www.jdr-delain.net/forum/images/smiles/nanana.gif') no-repeat right;
}
.obstruction1:hover, .obstruction2:hover{
	content: 'En visant cette cible, vous risquez de toucher d autres aventuriers.';
}
td.coord2{
	padding-right:0px;
	padding-left:0px;
	padding-top:0px;
	padding-bottom:0px;
	background-color:#BA9C6C;
}
td.soustitre3{
	padding-right:0px;
	padding-left:0px;
	background-color:#BA9C6C;
}
.navoff {
	border : 0px;
	padding-right:2px;
	padding-left:2px;
	background-color:#BA9C6C;
}
.navon {
	padding-right:2px;
	padding-left:2px;
	background-color:#BA9C6C;
	border : 1px solid #800000;
	font-weight:bold;
}
.vueoff {
	padding-right:0px;
	padding-left:0px;
	padding-top:0px;
	padding-bottom:0px;
	border : 1px solid #efe7e7;
}
.vueon {
	padding-right:0px;
	padding-left:0px;
	padding-top:0px;
	padding-bottom:0px;
	border : 1px solid #0000FF;
}
.vuesurcase {
	padding-right:0px;
	padding-left:0px;
	padding-top:0px;
	padding-bottom:0px;
	border : 1px solid #FF0000;
}
.surligne{
	padding-right:2px;
	padding-left:2px;
	background-color:#C9B28D;
}
.onglet{
	padding-right:2px;
	padding-left:2px;
	border-top-width:1px;
	border-top-style: solid;
	border-left-width:1px;
	border-left-style: solid;
	border-right-width:1px;
	border-right-style: solid;
}
.pas_onglet{
	padding-right:2px;
	padding-left:2px;
	background-color:#BA9C6C;
	border-bottom-width:1px;
	border-bottom-style: solid;
}
.reste_onglet{
	padding-right:2px;
	padding-left:2px;
	border-bottom-width:1px;
	border-bottom-style: solid;
	border-left-width:1px;
	border-left-style: solid;
	border-right-width:1px;
	border-right-style: solid;
}
.blockMenu {
	top:15px;
	left:15px;
	position:absolute;
	width:160px;
	background-image:url(../images/fondparchemin.gif)
}
.blockTexte {margin:0 0 0 0;background-image:url('../images/fondparchemin.gif')}
.blockPierre {margin:0 0 0 0;background-image:url('../images/fond5.gif')}
.barrL {height:10px;background-image:url('../images/coin_bg.gif');background-repeat:no-repeat}
.barrC {height:10px;background-image:url('../images/ligne_haut.gif');background-repeat:repeat-x;font-size:0}
.barrR {height:10px;padding:0 10px 0 10px;background-image:url('../images/coin_bd.gif');background-repeat:no-repeat;background-position:right}
.barrLbord {padding:0 0 0 10px;background-image:url('../images/ligne_gauche.gif');background-repeat:repeat-y}
.barrTitle {background-color:#800000;color:white;font-weight:bold;text-align:center;padding:3px 0 3px 0}
.barrTitleCourt {background-color:#800000;color:white;font-weight:bold;text-align:center;padding:3px 0 3px 0;width:80%;}
.barrRbord {padding:0 10px 0 0;background-image:url('../images/ligne_droite.gif');background-repeat:repeat-y;background-position:right}
.texteNorm {padding:5px 0 5px 2px}
.textNormToRight {padding:2px 5px;text-align:right}
.barrLbord {padding:0 0 0 10px;background-image:url('../images/ligne_gauche.gif');background-repeat:repeat-y}
.vide {background-image:url('../images/fond5.gif');}
.texteMenu {padding:5px 0 5px 2px;border-bottom:1px solid black;}
.bt_delain {color:#FFE081;border-color:#CE3100 #9C0000 #9C0000 #CE3100;background:url('../images/bouton.jpg')}
.check_box {border:none;background-image:url('../images/fondparchemin.gif')}

.img_descr
{
	max-width: 150px;
	max-height: 150px;
}
img {border:none}

.bordiv
{
	border-color:#800000;
	border-style:solid;
	border-radius: 10px;
	background-image:url('../images/fondparchemin.gif');
	padding:10px;
}

.invalide { background-color: red; }

/* class pour les barres de pv, xp, etc.... */
.container-hp {
	 display: inline-block;
	 width: 80px;
	 height: 10px;
	 padding-left:5px;
	 padding-right:5px;
	 background-image: url('../images/hp0.gif');
 }
.barre-hp {
	height: 10px;
	background-image: url('../images/hp01.png');
	background-repeat:repeat-x;
}
.container-xp {
	 display: inline-block;
	 width: 80px;
	 height: 10px;
	 padding-left:5px;
	 padding-right:5px;
	 background-image: url('../images/xp0.gif');
 }
.barre-xp {
	height: 10px;
	background-image: url('../images/xp01.png');
	background-repeat:repeat-x;
}
.container-nrj {
	display: inline-block;
	width: 80px;
	height: 10px;
	padding-left:5px;
	padding-right:5px;
	background-image: url('../images/nrj0.png');
}
.barre-nrj {
	height: 10px;
	background-image: url('../images/nrj01.png');
	background-repeat:repeat-x;
}
.container-div {
	display: inline-block;
	width: 80px;
	height: 10px;
	padding-left:5px;
	padding-right:5px;
	background-image: url('../images/div0.png');
}
.barre-div {
	height: 10px;
	background-image: url('../images/div01.png');
	background-repeat:repeat-x;
}

/* class pour les barres de pv, xp, etc pour version responsive .... */
.mob-barre-inline {
	display: inline-block;
}
.mob-container-hp {
	display: inline-block;
	width: 90px;
	height: 10px;
	padding-left:5px;
	padding-right:5px;
	background-image: url('../images/hp0.gif');
}
.mob-barre-hp {
	height: 10px;
	background-image: url('../images/hp01.png');
	background-repeat:repeat-x;
}
.mob-container-xp {
	display: inline-block;
	width: 90px;
	height: 10px;
	padding-left:5px;
	padding-right:5px;
	background-image: url('../images/xp0.gif');
}
.mob-barre-xp {
	height: 10px;
	background-image: url('../images/xp01.png');
	background-repeat:repeat-x;
}
.mob-container-nrj {
	display: inline-block;
	width: 90px;
	height: 10px;
	padding-left:5px;
	padding-right:5px;
	background-image: url('../images/nrj0.png');
}
.mob-barre-nrj {
	height: 10px;
	background-image: url('../images/nrj01.png');
	background-repeat:repeat-x;
}
.mob-container-div {
	display: inline-block;
	width: 90px;
	height: 10px;
	padding-left:5px;
	padding-right:5px;
	background-image: url('../images/div0.png');
}
.mob-barre-div {
	height: 10px;
	background-image: url('../images/div01.png');
	background-repeat:repeat-x;
}

/* class pour les toasts nok (voir vendor nok.js .... */
#nok{
	position:fixed;
	z-index:999;
	top:10px;
	right:0
}
#nok .nok{
	display:block;
	position:relative;
	overflow:hidden;
	margin-top:10px;
	margin-right:10px;
	padding:20px;
	width:240px;
	border-radius:10px;
	color:white;
	right:-300px
}
#nok .nok_info{
	background:#3c3b3b
}
#nok .nok_success{
	border-color: black;
	border-style: solid;
	border-radius: 10px;
	background-color: #BA9C6C;
	padding: 10px;
}
#nok .nok_error{
	background:red;
}

.spop-overlay {
	z-index: 999;
	float: right;
	position:absolute;
	margin-top:-2px;
	margin-left:18px;
	border-color: black;
	border-width: thin;
	border-style: solid;
	border-radius: 10px;
	background-color: #BA9C6C;
	padding: 5px;
}

/* class pour la barre de switch rapide. */
.button-switch	{
	background-color: #CE6300;
	color: #FFE081;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background: url(../images/bouton.jpg);
	width:100%;
	white-space: nowrap;
	overflow:hidden;
}
.disabled-switch	{
	background-color: darkgrey;
	color: #FFE081;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: italic;
	width:100%;
	white-space: nowrap;
	overflow:hidden;
}