<table width="100%" border="0">
    <tr>
        <td height="100%" valign="center" class="soustitre2" style="text-align:center;">Pas encore de monstre !<br></td>
    </tr>
    <tr>
        <td height="100%" valign="center">&nbsp;<br></td>
    </tr>
    <tr>
        <td height="100%" valign="center">&nbsp;<br></td>
    </tr>
    <tr>
        <td>
            <div class="centrer"><img src="{{ G_IMAGES }}noperso.gif" alt="Pas de monstre"/></div>
        </td>
    </tr>
</table>