<table width="100%" border="0">
    <tr>
        <td height="100%" valign="center" class="soustitre2" style="text-align:center;">Pas de personnage<br></td>
    </tr>
    <tr>
        <td height="100%" valign="center">&nbsp;<br></td>
    </tr>
    <tr>
        <td height="100%" valign="center">&nbsp;<br></td>
    </tr>
    <tr>
        <td>
            <div class="centrer"><a href="{{ TYPE_FLUX }}{{ G_URL }}cree_perso_compte.php?compt_cod={{ COMPT_COD }}">
                    <img src="{{ G_IMAGES }}noperso.gif" alt="Créer un nouveau"></a></div>
        </td>
    </tr>
</table>