{% extends 'index.twig' %}

{% block contenu %}
    <div class="groupdiv">
        <ul>
            <li>Créateur du projet
            </li>
            <li>Hébergement</li>
            <li>Développement</li>
        </ul>
    </div>




{% endblock %}