{% extends 'index.twig' %}
{% block contenu %}
    {% if ERROR_MESSAGE is defined %}
        <div class="groupdiv">
            <div class="alert alert-danger">
                {{ ERROR_MESSAGE }}
            </div>
        </div>

    {% else %}
        <div class="groupdiv">
            Votre compte est validé. Vous pouvez maintenant vous connecter pour jouer.
        </div>
    {% endif %}

{% endblock %}
{% block postscripts %}
{% endblock %}
