[Unit]
Description=IA Auto pour Delain
After=postgresql.service

[Service]
Type=simple
User=delain
Group=delain
ExecStart=/home/delain/delain/shell/ia_demon.sh
Restart=always
WorkingDirectory=/home/delain/delain/shell
