A.blanc { color:#FFFFFF; }
A.archive:visited { color:#000000; }
A.archive:active  { color:#000000; }
A.archive:hover   { color:#000000; background-color:#D4BF00; cursor:help; }
A.archive:link    { color:#000000; }
.td_truc {
	background-color: #FFFFFF;
	text-align: justify;
	width:200px;
}
.transparent {
color:#FFFFFF;
}
.derniere_minute {
    color:#00FF55;
	background-color:#FF3F55;
	font-weight:bold;
}
.Mirreck_spray {
    color:#00FF55;
	background-color:#FF3F55;
	font-weight:bold;
	text-align:center;
}
.expl_chanson {
	font-size: 6px;
	color: #2A1FAA;
}
.edito {
	height:100%;
	border:1px #080D70;
	background-color:#080D70;
}
.edito_titre {
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-align:center;
	height:20px;
	width:200px;
	background-color: #080D70;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.edito_corps {
	text-align:justify;
	background-color: #FFFFFF;
	font-size: 12px;
	width:200px;
}
.dedicace {
	height:100%;
	border:1px #000000;
	background-color:#000000;
}
.dedicace_titre {
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-align:center;
	height:20px;
	width:600px;
	background-color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.dedicace_corps {
	vertical-align:middle;
	text-align:center;
	background-color: #FFFFFF;
	font-size: 12px;
	width:600px;
}
.musique {
	height:100%;
	border:1px #0C9290;
	background-color:#0C9290;
}
.musique_titre {
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-align:center;
	width:200px;
	font-size: 11px;
	background-color: #0C9290;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.musique_corps {
	text-align:justify;
	background-color: #FFFFFF;
	width:200px;
}
.droit_reponse {
	height:100%;
	border:1px #FF0000;
	background-color:#FF0000;
}
.droit_reponse_titre {
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-align:center;
	font-size: 12px;
	background-color: #FF0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.droit_reponse_intro {
	color: #000000;
	text-align:justify;
	font-style:italic;
	background-color: #FFFFFF;
	font-size: 12px;
}
.droit_reponse_corps {
vertical-align:top;
	text-align:justify;
	font-size: 12px;
	width:200px;
	background-color:#FFFFFF;
}
.reportage {
	height:100%;
	border:1px #920C90;
	background-color:#920C90;
}
.reportage_titre {
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-align:center;
	font-size: 12px;
	background-color: #920C90;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.reportage_corps {
	text-align:justify;
	font-size: 12px;
	background-color: #FFFFFF;
	width:200px;
}

.courrier {
	height:100%;
	border:1px #808080;
	background-color:#808080;
}
.courrier_titre {
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-align:center;
	height:20px;
	width:200px;
	background-color: #808080;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.courrier_corps {
	text-align:justify;
	background-color: #FFFFFF;
	width:200;
	font-size: 12px;
}
.pub {
	height:100%;
	border:1px #176717;
	background-color:#176717;
}
.pub_titre {
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	height:20px;
	text-align:center;
	background-color: #176717;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.pub_corps {
	width:200px;
	text-align:justify;
	background-color: #FFFFFF;
	font-size: 12px;
}
.annonce {
	height: 118px;
	border:1px #B53131;
	background-color:#B53131;
}
.annonce_titre {
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	height:20px;
	text-align:center;
	background-color: #B53131;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.annonce_corps {
	height:90px;
	width:198px;
	text-align:justify;
	background-color: #FFFFFF;
	font-size: 12px;
}
.horoscope {
	height:100%;
	border:1px #D6D830;
	background-color:#D6D830;
}
.horoscope_titre {
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-align:center;
	height:20px;
	background-color: #D6D830;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.horoscope_corps {
	height:90px;
	text-align:justify;
	width:200px;
	background-color: #FFFFFF;
	font-size: 12px;
}
.interview {
	border-style:solid;
	border-color:#FFFFFF;
	border:1px;
	background-color:#FFFFFF;
}
.interview_titre {
	font-style: normal;
	font-weight: bold;
	color: #000000;
	text-align:center;
	background-color: #FFFFFF;
	font-family: "Times New Roman", Times, serif;
}
.interview_intro {
	color: #000000;
	text-align:justify;
	font-style:italic;
	background-color: #FFFFFF;
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
}
.interview_corps {
	font-style: normal;
	color: #000000;
	width:196px;
	text-align:justify;
	border-style:solid;
	border:1px;
	border-color:#FFFFFF;
	background-color: #FFFFFF;
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
}
.titre_img {
text-decoration:none;

	text-align: center;
	vertical-align:middle;
	height:100px;
	width:750px;
}
.titre {
	text-align: center;
	height: 198px;
	width:100%;
	top:0px;
	left:0px;
	right:0px;
	position: absolute;
	vertical-align:middle;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #000000;
}
.droite1 {
	position: absolute;
	height: 518px;
	width: 200px;
	top: 200px;
	left:800px;
}
.droite11 {
	position: absolute;
	height: 258px;
	width: 200px;
	top: 720px;
	left:800px;
}
.droite12 {
	position: absolute;
	height:100px;
	width:1000px;
	top: 2650px;
	left:0px;
}
.centre1 {
	position: absolute;
	height: 1148px;
	width: 600px;
	top: 200px;
	left:200px;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #000000;
}
.centrecentre1 {
	position: absolute;
	height: 408px;
	width:200px;
	top: 200px;
	left:400px;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #000000;
}
.gauche1 {
	position: absolute;
	height: 1148px;
	width: 200px;
	top: 200px;
	left:0px;
}
.gauche12 {
	position: absolute;
	height: 1116px;
	width: 400px;
	top: 200px;
	left:0px;
}
.droite2 {
	position: absolute;
	height: 498px;
	width: 600px;
	top: 1350px;
	left:400px;
}
.droite4 {
	position: absolute;
	height: 498px;
	width: 600px;
	top: 1850px;
	left:400px;
}
.centrecentre2 {
	position: absolute;
	height: 898px;
	width:198px;
	top: 1350px;
	left:400px;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #000000;
}
.centre2 {
	position: absolute;
	height: 898px;
	width:798px;
	top:950px;
	left:0px;
	border-top-width: thin;
	border-top-style: solid;
	border-top-color: #000000;
}
.gauche2 {
	position: absolute;
	height: 848px;
	width: 398px;
	top: 1350px;
	left:0px;
}
.zone3 {
	position: absolute;
	height: 408px;
	width: 600px;
	top: 640px;
	left:0px;
}
.droite3 {
	position: absolute;
	height: 118px;
	width: 600px;
	top: 2530px;
	left:400px;
}
.centredroit3 {
	position: absolute;
	height:200px;
	top: 1820px;
	width:196px;
	left:600px;
}
.centre3 {
	position: absolute;
	height: 198px;
	width:400px;
	top: 2330px;
	left:600px;
}
.gauche3 {
	position: absolute;
	height: 198px;
	width: 198px;
	top: 2330px;
	left:400px;
}
.gauche4 {
	position: absolute;
	height: 448px;
	width: 398px;
	top: 2200px;
	left:0px;
}
.fond {
	position: absolute;
	height: 1469px;
	width: 1000px;
	top: 0px;
	left:0px;
}
