<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>

RewriteEngine On

# Authentification
RewriteRule ^auth/?$ auth.php [L]

# Compte
RewriteRule ^compte/?$ compte.php [L]

# news
RewriteRule ^news/?$ news.php [L]

# perso
RewriteRule ^perso/?$ perso.php [L]