body {
    background-image: url('../../images/fond5.gif');
    font-family: verdana, helvetica, sans-serif;
    font-size: 9pt;
}

.navbar {
    border: 0;
}

.navbar-default {
    background-image: url('../../images/fond5.gif');
}

.navbar-default li a:link {
    text-decoration: underline;
    color: #4D0505;

}

.navbar-default li a:visited {
    text-decoration: underline;
    color: #4D0505;

}

.navbar-default li a:hover {
    text-decoration: none;
    color: #4D0505;

}

a:link {
    text-decoration: underline;
    color: #4D0505;

}

a:visited {
    text-decoration: underline;
    color: #4D0505;

}

a:hover {
    text-decoration: none;
    color: #4D0505;

}

.groupdiv {
    background-image: url('../../images/fondparchemin.gif');
    border-color: #800000;
    border-style: solid;
    border-radius: 10px;
    height: auto;
    overflow: auto;
    margin-bottom: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
    overflow: hidden;
}

.groupdiv_gauche {
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px;
}

.groupdiv .titre {
    background-color: #800000;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    padding: 3px 0px;
}

.groupdiv .persotitre {
    background-color: #800000;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    padding: 0px;
}

.groupdiv_nopadding {
    background-image: url('../../images/fondparchemin.gif');
    border-color: #800000;
    border-style: solid;
    border-radius: 10px;
    height: auto;
    overflow: auto;
    margin-bottom: 1px;
    padding-bottom: 1px;
    margin-top: 1px;
    overflow: hidden;
    margin-right: -15px;
    margin-left: -15px;
    padding: 0px;
}

/* make sidebar nav vertical */
@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding-left: 20px;
        padding-right: 20px;
        max-height: none;
    }

    .sidebar-nav .navbar ul {
        float: none;
    }

    .sidebar-nav .navbar ul:not {
        display: block;
    }

    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }

    .sidebar-nav .navbar li a {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .blockAuthTop ul {
        float: none;
    }

    .blockAuthTop ul:not {
        display: block;
    }

    .blockAuthTop li {
        float: none;
        display: block;
    }

    .blockAuthTop li a {
        padding-top: 0px;
        padding-bottom: 0px;
    }

}

@media (min-width: 992px) {
    .navbar {
        border-radius: 4px;
    }
}

@media (min-width: 992px) {
    .navbar-header {
        float: left;
    }
}

.groupdiv .soustitre{
    color:#FFFFFF;
    font-size:9pt;
    text-align:center;
    font-weight:bold;
    padding-right:5px;
    padding-left:5px;
    background-color:#660033;
}

.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}

@media (min-width: 992px) {
    .navbar-collapse {
        width: auto;
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }

    .navbar-collapse.in {
        overflow-y: visible;
    }

    .navbar-fixed-top .navbar-collapse,
    .navbar-static-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        padding-right: 0;
        padding-left: 0;
    }
}

.navbar-nav li a {
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-header {
    background-image: url('../../images/fondparchemin.gif');
    border-color: #800000;
    border-style: solid;
    border-radius: 10px;
    height: auto;
    overflow: auto;
    color: #4D0505;
}

.navbar-default .navbar-brand {
    color: #4D0505;
}

hr {
    margin-top: 6px;
    margin-bottom: 6px;
}

#formLogin {
    padding: 10px;
}

.formControlDelain {
    height: 19px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 11px;
}

.btn-delain {
    background: url('../../images/bouton.jpg');
    color: #FFE081;
    font-size: 13px;
    height: 21px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.form-group-delain {
    margin-bottom: 2px;
}

#wrapper.toggled {
    padding-left: 0;
}

#wrapper.toggled #sidebar-wrapper {
    width: 0;
}

#descJeu {
    font-style: italic;
    text-align: center;
    height: 200px;
    display: table;

}

div.centrer {
    width: 100%;
}
submit.centrer {
    display:block;
}
button.centrer {
    display:block;
}
.centrer {
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

#descJeu span {
    display: table-cell;
    vertical-align: middle;
}

#avatarMonstre {
    max-width: 200px;
    max-height: 200px;
    /* height: 200px;*/
    text-align: center;
    line-height: 200px;
    overflow: hidden;
}

#avatarMonstre img {
    height: 100%;
    width: 100%;
    object-fit: contain;

}

.imgVertCenter {
    vertical-align: middle;
    overflow: hidden;
    width: auto;
    max-height: 200px;
}

#logoDelainAccueil {
    max-width: 200px;
    max-height: 200px;
    /* height: 200px;*/
    text-align: center;
    line-height: 200px;
    overflow: hidden;
}

#logoDelainAccueil img {
    height: 100%;
    width: 100%;
    object-fit: contain;

}

.tableau_perso {
    border-spacing: 1px;
    border-collapse: separate;
}

.tableau_perso td {
    padding: 2px;
}

.nopadding {
    padding: 0
}

img.imgFit {
    max-width: 100%;
    height: auto;
    max-width: 200px;
}

.space_between_div {
    padding: 2px;
}

.rouge {
    color: red;
}

.bordiv
{
    border-color:#800000;
    border-style:solid;
    border-radius: 10px;
    background-image:url('../images/fondparchemin.gif');
    padding:10px;
}


/* Tableaux */

td{
    font-family:verdana,helvetica,sans-serif;
    font-size:9pt;
    text-align:left;
}
td.titre{
    padding-right:10px;
    padding-left:10px;
    background-color:#800000;
}

td.soustitre2{
    padding-right:2px;
    padding-left:2px;
    background-color:#BA9C6C;
}

.tabperso {
    border-spacing: 1px;
    border-collapse: separate;
}

.image {
    text-align: center;
}

/* class pour les barres de pv, xp, etc.... */
.container-hp {
	 display: inline-block;
	 width: 80px;
	 height: 10px;
	 padding-left:5px;
	 padding-right:5px;
	 background-image: url('../images/hp0.gif');
 }
.barre-hp {
	height: 10px;
	background-image: url('../images/hp01.png');
	background-repeat:repeat-x;
}
.container-xp {
	 display: inline-block;
	 width: 80px;
	 height: 10px;
	 padding-left:5px;
	 padding-right:5px;
	 background-image: url('../images/xp0.gif');
 }
.barre-xp {
	height: 10px;
	background-image: url('../images/xp01.png');
	background-repeat:repeat-x;
}
.container-nrj {
	display: inline-block;
	width: 80px;
	height: 10px;
	padding-left:5px;
	padding-right:5px;
	background-image: url('../images/nrj0.png');
}
.barre-nrj {
	height: 10px;
	background-image: url('../images/nrj01.png');
	background-repeat:repeat-x;
}
.container-div {
	display: inline-block;
	width: 80px;
	height: 10px;
	padding-left:5px;
	padding-right:5px;
	background-image: url('../images/div0.png');
}
.barre-div {
	height: 10px;
	background-image: url('../images/div01.png');
	background-repeat:repeat-x;
}

/* class pour les barres de pv, xp, etc pour version responsive .... */
.mob-barre-inline {
	display: inline-block;
}
.mob-container-hp {
	display: inline-block;
	width: 90px;
	height: 10px;
	padding-left:5px;
	padding-right:5px;
	background-image: url('../images/hp0.gif');
}
.mob-barre-hp {
	height: 10px;
	background-image: url('../images/hp01.png');
	background-repeat:repeat-x;
}
.mob-container-xp {
	display: inline-block;
	width: 90px;
	height: 10px;
	padding-left:5px;
	padding-right:5px;
	background-image: url('../images/xp0.gif');
}
.mob-barre-xp {
	height: 10px;
	background-image: url('../images/xp01.png');
	background-repeat:repeat-x;
}
.mob-container-nrj {
	display: inline-block;
	width: 90px;
	height: 10px;
	padding-left:5px;
	padding-right:5px;
	background-image: url('../images/nrj0.png');
}
.mob-barre-nrj {
	height: 10px;
	background-image: url('../images/nrj01.png');
	background-repeat:repeat-x;
}
.mob-container-div {
	display: inline-block;
	width: 90px;
	height: 10px;
	padding-left:5px;
	padding-right:5px;
	background-image: url('../images/div0.png');
}
.mob-barre-div {
	height: 10px;
	background-image: url('../images/div01.png');
	background-repeat:repeat-x;
}

table {
    display: table;
    border-collapse: separate;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    border-spacing: 2px;
    border-color: grey;
    font-variant: normal;
}

input.bouton {
	color : #FFFFFF;
	font-size: 9px;
	font-family: Verdana, Helvetica, sans-serif;
	border-color : #B5955A #9F7F47 #9F7F47 #B5955A;
	background : url(../images/bouton.gif);
	border-width: 2px;
	padding-right:0pt;
	padding-left:0pt;
	margin-left:0pt;
	margin-right:0pt;
	text-indent:0pt;
}