A.blanc { color:#FFFFFF; }
A.archive:visited { color:#000000; }
A.archive:active  { color:#000000; }
A.archive:hover   { color:#000000; background-color:#D4BF00; cursor:help; }
A.archive:link    { color:#000000; }
A.nouveau:visited { color:#000000; background-color:#D4BF00; cursor:help; font-weight: bold; }
A.nouveau:active  { color:#000000; background-color:#D4BF00; cursor:help; font-weight: bold; }
A.nouveau:hover   { color:#000000; background-color:#D4BF00; cursor:help; font-weight: bold; }
A.nouveau:link    { color:#000000; background-color:#D4BF00; cursor:help; font-weight: bold; }
td {
	background-color: #FFFFFF;
	text-align: justify;
}
.expl_chanson {
	font-size: 12px;
	color: #2A1FAA;
}
.edito {
	height:100%;
	border:1px #080D70;
	background-color:#080D70;
}
.edito_titre {
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-align:center;
	height:20px;
	width:200px;
	background-color: #080D70;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.edito_corps {
	text-align:justify;
	background-color: #080D70;
	font-size: 12px;
}
.musique {
	height:100%;
	border:1px #0C9290;
	background-color:#0C9290;
}
.musique_titre {
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-align:center;
	width:200px;
	font-size: 12px;
	background-color: #0C9290;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.musique_corps {
	text-align:justify;
	background-color: #0C9290;
}

.courrier {
	height:100%;
	border:1px #808080;
	background-color:#808080;
}
.courrier_titre {
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-align:center;
	height:20px;
	width:200px;
	background-color: #808080;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.courrier_corps {
	text-align:justify;
	background-color: #808080;
	width:198x;
	font-size: 11px;
}
.pub {
	height:100%;
	border:1px #176717;
	background-color:#176717;
}
.pub_titre {
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	height:20px;
	text-align:center;
	background-color: #176717;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.pub_corps {
	text-align:justify;
	width:200px;
	background-color: #176717;
}
.annonce {
	height:100%;
	border:1px #B53131;
	background-color:#B53131;
}
.annonce_titre {
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	height:20px;
	text-align:center;
	background-color: #B53131;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.annonce_corps {
	height:90px;
	text-align:justify;
	background-color: #B53131;
}
.horoscope {
	height:100%;
	border:1px #D6D830;
	background-color:#D6D830;
}
.horoscope_titre {
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-align:center;
	height:20px;
	background-color: #D6D830;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.horoscope_corps {
	height:90px;
	text-align:justify;
	background-color: #D6D830;
	font-size: 11px;
}
.interview {
	height:100%;
	border:1px #FFFFFF;
	background-color:#FFFFFF;
}
.interview_titre {
	font-style: normal;
	font-weight: bold;
	color: #000000;
	text-align:center;
	font-family: "Times New Roman", Times, serif;
}
.interview_intro {
	color: #000000;
	text-align:justify;
	font-style:italic;
	background-color: #FFFFFF;
	font-family: "Times New Roman", Times, serif;
	font-size: 11px;
}
.interview_corps {
	font-style: normal;
	color: #000000;
	width:200px;
	text-align:justify;
	background-color: #FFFFFF;
	font-family: "Times New Roman", Times, serif;
	font-size: 11px;
}
.titre_img {
text-decoration:none;

	text-align: center;
	vertical-align:middle;
	height:100px;
	width:750px;
}
.titre {
	text-align: center;
	height: 198px;
	width:100%;
	top:0px;
	left:0px;
	right:0px;
	position: absolute;
	vertical-align:middle;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #000000;
}
.droite1 {
	position: absolute;
	height: 408px;
	width: 200px;
	top: 200px;
	left:800px;
}
.droite11 {
	position: absolute;
	height: 258px;
	width: 200px;
	top: 614px;
	left:800px;
}
.droite12 {
	position: absolute;
	height:73px;
	width: 200px;
	top: 874px;
	left:800px;
}
.centre1 {
	position: absolute;
	height: 748px;
	width: 800px;
	top: 200px;
	left:000px;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #000000;
}
.centrecentre1 {
	position: absolute;
	height: 408px;
	width:200px;
	top: 200px;
	left:400px;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #000000;
}
.gauche1 {
	position: absolute;
	height: 408px;
	width: 200px;
	top: 200px;
	left:0px;
}
.gauche12 {
	position: absolute;
	height: 1116px;
	width: 400px;
	top: 200px;
	left:0px;
}
.droite2 {
	position: absolute;
	height: 508px;
	width: 400px;
	top: 950px;
	left:600px;
}
.centrecentre2 {
	position: absolute;
	height: 658px;
	width:200px;
	top: 610px;
	left:400px;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #000000;
}
.centre2 {
	position: absolute;
	height: 658px;
	width:800px;
	top: 610px;
	left:200px;
	border-top-width: thin;
	border-top-style: solid;
	border-top-color: #000000;
}
.gauche2 {
	position: absolute;
	height: 508px;
	width: 600px;
	top: 950px;
	left:0px;
}
.zone3 {
	position: absolute;
	height: 408px;
	width: 600px;
	top: 640px;
	left:0px;
}
.droite3 {
	position: absolute;
	height: 198px;
	width: 400px;
	top: 1470px;
	left:600px;
}
.centredroit3 {
	position: absolute;
	height:200px;
	top: 1640px;
	width:196px;
	left:600px;
}
.centre3 {
	position: absolute;
	height: 198px;
	width:600px;
	top: 1470px;
	left:200px;
	right:400px;
}
.gauche3 {
	position: absolute;
	height: 198px;
	width: 200px;
	top: 1470px;
	left:0px;
}
.fond {
	position: absolute;
	height: 1470px;
	width: 1000px;
	top: 0px;
	left:0px;
}
